<ion-header>
  <ion-toolbar color="primary">
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="about">
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        IONOTES
      </ion-card-title>
      <div class="about__dev">
        <ion-card-subtitle class="about__dev__text">
          Developed by Muhammad Ahsan with ❤️
        </ion-card-subtitle>
        <ion-avatar>
          <ion-img src="https://avatars3.githubusercontent.com/u/9844254?s=460&v=4">
          </ion-img>
        </ion-avatar>
      </div>
    </ion-card-header>
    <ion-card-content>
      IONOTES app helps you create notes and reminders for the important stuff you care about.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-list>
      <ion-item>
        <ion-icon slot="start" name="logo-twitter"></ion-icon>
        <ion-label>
          <a href="https://twitter.com/ahsan_ayz">
            https://twitter.com/ahsan_ayz
          </a>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
